<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
    <script src="/js/lib/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/easytimer.js" type="text/javascript"></script>

    <script src="/js/item-details-owner.js" type="text/javascript"></script>
</head>
<body>

<div id="item-detail" data-itemid=<%= item._id %>>
    Name: <%= item.name %> <br>
    Description: <%= item.desc %><br>
    <img src="/Images/<%= item._id %>" alt=""><br>
    by User: <%= item.userID %><br>
    category: <%= item.category %><br>
    basevalue: <%= item.basevalue %><br>
    maxbid:<%= item.minbid %><br>
    duration: <span id="timer"></span> <br>
    <!--TODO: Add duration timer-->


    <form action="/items/<%= item._id %>/incTime" method="post">

        <input name="duration" placeholder="duration" required>
        <button type="submit">Submit</button>
    </form>
    <a href="/items/<%= item._id %>/delete"><button>Delete This Item</button></a>
    <ul id="bids"></ul>

</div>

</body>
</html>