<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/lib/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/lib/easytimer.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/items.js"></script>
</head>
<body>

<ul id="productlist">

    <% items.forEach(function(item){ %>
    <li id=<%= item._id %>>
        <img src="../Images/<%= item._id %>.jpg" height="100">
        <div>Product Name:<%= item.name %></div>
        <div>Category:<%= item.category %></div>
        <div data-timer=<%= item._id %>>
            <span class="days"></span><span> days</span>
            <span class="hours"></span><span> hours</span>
            <span class="minutes"></span><span> minutes</span>
            <span class="seconds"></span><span> seconds</span>
        </div>
        <button data-btn="details">View Item Details</button>
    </li>
    <% }) %>

</ul>
</body>
</html>