<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/items.js"></script>
</head>
<body>

<ul id="productlist">

    <% items.forEach(function(item){ %>
    <li id=<%=item._id%>>
        <img src="../Images/<%=item._id%>.jpg" height="100">
        <div>Product Name:<%=item.name%></div>
        <!--<div>Description:${item.desc}</div>-->
        <div>Category:<%=item.category%></div>
        <!--<div>Minimum Bid:${item.basevalue}</div>-->
        <div>Duration:<%=item.duration%></div>
        <button data-btn="details">View Item Details</button>
    </li>
    <%})%>



</ul>
</body>
</html>