<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctioneers | Item Details</title>
    <%- include('components/headers'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/easytimer.js" type="text/javascript"></script>
    <script src="/js/item-details.js" type="text/javascript"></script>
    <link href="/css/item-details.css" rel="stylesheet">
</head>

<body>
<%- include('components/navbar'); %>
<div id="item-detail" data-itemid=<%= item._id %>>
    <div class="ui relaxed container" id="main-container">
        <div class="ui stackable two column grid">
            <div class="row">
                <div class="content eight  wide column ">
                    <h1 class="ui header"><%= item.name %></h1>
                    <div class="extra">
                        <div class="ui label"><i class="globe icon"></i> <%= item.category %></div>
                    </div>
                </div>
                <div class="ui success message eight wide column " id="msg" style="text-align: center; font-size: large ;display: none"></div>
            </div>
        </div>


        <div class="ui stackable  four column grid">

            <div class="row owner" id="isOwner">
                <div class="six wide column">

                    <img src=<%= item.img%> ><br>

                </div>

                <div class="five wide column">
                    <!--Current Value-->
                    <div class="row">
                        <div class="ui statistic">
                            <div  id="minbid" class="value">
                                <%= item.minbid %>
                            </div>
                            <div class="label" id="max-price" >
                                Current Value
                            </div>
                        </div>
                    </div>
                    <!--Min-Bid-->
                    <div class="row" id="min-bid-cont">
                        <div class="ui statistic">

                            <div class="value basevaluecontent">
                                <%= item.basevalue %>
                            </div>
                            <div class="label basevalue">
                                Minimum Bid
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="timer">
                            <span class="days"></span>
                            <span >&nbsp;Days</span>
                            <br>
                            <br>
                            <span class="hours timerValues"></span><span class="timerValues">:</span>
                            <span class="minutes timerValues"></span><span class="timerValues">:</span>
                            <span class="seconds timerValues"></span><span class="timerValues"></span>
                        </div>

                        <% if(isOwner){ %>
                        <div id="inctime-container">

                            <form action="/items/<%= item._id %>/incTime" method="post" class="ui form">
                                <div class="ui input focus">
                                    <div class="field">
                                        <label>Increase Auction Time</label>
                                        <input type="text" placeholder="Duration" name="duration">
                                    </div>
                                </div>
                                <div class="ui input focus">
                                    <div class="field">
                                        <label for="">&nbsp</label>
                                        <button type="submit" id="bid" name="<%= item._id %> " class="ui button teal">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <% } else { %>
                        <form action="/items/<%= item._id %>/bid" method="post" class="ui form">

                            <div class="ui input focus ">
                                <div class="field">
                                    <label>Place Your Bid</label>
                                    <input type="number" name="bidprice"
                                           min="<%= item.minbid %>" required>
                                </div>
                            </div>
                            <div class="ui input focus ">
                                <div class="field">
                                    <label for="">&nbsp</label>
                                    <button id="bid" name="<%= item._id %>" class="ui button teal">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>

                        <% } %>
                    </div>
                </div>
                <div class="one wide column">
                    <div class="ui vertical divider">
                        Bids
                    </div>
                </div>


                <div class="four wide column" id="list ">
                    <div class="header heading1">Ongoing Bids on this item</div>
                    <ul id="bids" class="ui middle aligned animated divided list"></ul>
                </div>
            </div>
            <div class="ui divider"></div>

            <div class="row">

                <div class="column">
                    <h2>Item Details</h2>
                    <p><%= item.desc %><br></p>
                </div>
            </div>

        </div>
        <% if(isOwner){ %>
        <div class="ui grid" id="admin-row">

            <div class="ui column center aligned">
                <a href="/items/<%= item._id %>/delete">
                    <label for="">&nbsp</label>
                    <button class="ui button red">Delete This Item</button>
                </a>
            </div>
        </div>
        <% } %>
    </div>

</div>

</div>
<%- include('components/footer'); %>
</body>
</html>