<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <%- include('components/headers'); %>
    <style>
        .margin-top-167 {
            margin-top: 167px;
        }
        .clr-sml{
            height: 10px;
        }
        body{
            height: auto;
        }
        .text-center{
            text-align: center;
        }
        .margin-left-right-20{
            margin-left: 20px;
            margin-right: 20px;
        }
        .t18{
            font-size: 18px;
        }
        .t16 {
            font-size: 16px;
        }
        .margin-top-40{
            margin-top: 40px;
        }
    </style>
</head>
<body>
<%- include('components/navbar'); %>
<div class="margin-top-167">
    <div class="ui container">
        <form class="ui form" action="/reset/<%=user.dataValues.resetPasswordToken%>" method="post">
            <div class="ui grid">
                <div class="six wide field t22 text-center">
                    <div class="text-center"><img src="/images/reset_password.png" height="80"></div>
                    <div class="clr-sml"></div>
                    <div class="text-center t18" style="color: #0d71bb"><b>Secure Login</b></div>
                    <div class="clr-sml"></div>
                    <div class="t16 margin-left-right-20 text-center">This page is only visible to you for a particular time so that your privacy is maintained and no one else can log into your account.</div>
                </div>
                <div class="one wide field"></div>
                <div class="eight wide field margin-top-40">
                    <h4 class="ui dividing header" style="color: #2c662d;font-size: 22px;">Generate New Password</h4>
                    <div class="clr-sml"></div>

                    <div class="clr-sml"></div>
                    <div class="field">
                        <input placeholder="Enter New Password" name="password" type="text">

                    </div>
                    <div class="field">
                        <input placeholder="Re-Enter New Password" name="confirm_password" type="text">

                    </div>
                    <div class="clr-sml"></div>
                    <div class="field text-center">
                        <button class="ui primary button" type="submit">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="clr-sml"></div>
<!--<div class="margin-top-120">
    <form action="/forgot" method="post">
    <input name="username" placeholder="username" >
    <input name="email" placeholder="email" >
    <button type="submit">SUBMIT</button>
    </form>
</div>-->
<br><br><br><br>
<%- include('components/footer'); %>
<!--<form action="/reset/<%=user.dataValues.resetPasswordToken%>" method="post">-->
    <!--<input placeholder="enter new password" name="password">-->
    <!--<button type="submit">SUBMIT</button>-->
<!--</form>-->

</body>
</html>