<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User | Online Auction</title>

    <%- include('components/headers'); %>
    <script src="/js/user.js"></script>
    <style>
        #container{

            margin-top:160px;
        }
        ::placeholder{
            opacity: 1;
        }

        @media (min-width: 770px) {
            #container{
                margin-top:70px;
            }
        }
        .points {
            font-size: 16px;
            color: #9e1317;
        }
        .clr-sml {
            height: 0.5em;
        }

        [contenteditable] {
            padding: 5px;
            outline: 0px solid transparent;
            border-radius: 3px;
        }

        [contenteditable]:not(:focus) {
            border: 1px solid #ddd;
        }

        [contenteditable]:focus {
            border: 1px solid #51a7e8;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
        }
    </style>
</head>
<body>
<%- include('components/navbar'); %>


<div class="ui relaxed container">
    <div id="container" class=" ui stackable two column grid">
        <div class="ui five wide column segment center aligned">
            <div class="row">
            <img src="<%=user.dataValues.img%>" style="width: 22vmax">
            </div>
            <div class="ui horizontal divider">Your Details</div>
            <div style="font-size: 18px;" class="ui left aligned">
                <div class="clr-sml"></div>
                <div style="font-size: 20px;"><strong><%= user.dataValues.username %></strong></div>
                <div class="clr-sml"></div>
                <div class="clr-sml"></div>
                <div class="stackable one column grid">
                    <div class="row">Username: <strong><%= user.dataValues.username %></strong></div>
                    <div class="clr-sml"></div>
                    <div class="row">Email-Id: <strong><%= user.dataValues.email %></strong></div>
                    <div class="clr-sml"></div>
                    <div class="row">
                        <div class="ui two column grid">
                            <div class="eight wide column" style="text-align:right">
                                Phone1:<span id="ChangePhone1Button"
                                                                data-phone="<%= user.dataValues.phone1 %>">
                                <i class="edit icon" style="font-size: 1.3em;color: #bd081c;"></i>
                            </span>
                            </div>
                            <div class="eight wide column" style="margin: 0; text-align: left">
                                <div id="contentedit">
                                    <%= user.dataValues.phone1 %>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clr-sml"></div>
                    <div class="row">
                        <div class="ui two column grid">
                            <div class="eight wide column" style="text-align: right">
                                Phone2:&nbsp;&nbsp;&nbsp;&nbsp;<span id="ChangePhone2Button"
                                                                     data-phone="<%= user.dataValues.phone2 %>"
                                                                     style="width: 0.5em;">
                                <i class="edit icon" style="font-size: 1.3em; color: #bd081c;"></i>
                            </span>

                            </div>
                            <div class="eight wide column" style="text-align: left;margin: 0">
                                <div id="contentedit2">
                                    <%= user.dataValues.phone2 %>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="clr-sml"></div>

                <div id="edit-message"></div>
                <div class="clr-sml"></div>
                <button class="ui right button blue" id="editProfile">Edit Profile</button>
            </div>
            <div class="clr-sml"></div>
            <a href="/users/changePass">
                <button class="ui right labeled icon button red">
                    <i class="right arrow icon"></i>
                    <span style="">Edit Password</span>
                </button>
            </a>
        </div>
        <div class="eleven wide column center aligned">
            <h1 style="font-size:xx-large">
                Welcome <%= user.dataValues.username %> !!!
            </h1>
            <div class="ui compact vertical labeled icon menu stackable five column grid"
                 style="border: none ; box-shadow: none">
                <div class="five wide column center aligned">
                    <a href="/users/profile">
                        <button class="circular ui icon yellow button massive"
                                style="margin: 2vh">
                            <img src="../images/profile.png" height="100vmax">
                        </button>
                    </a>
                    <div class="points">View Your Profile Page and Edit it.</div>
                </div>
                <div class="five wide column">
                    <a href="/items?show=user">
                        <button class="circular ui icon orange button massive"
                                style="margin: 2vh">
                            <img src="../images/itemplaced.png" height="100vmax">
                        </button>
                    </a>
                    <div class="points">View Items that you have Placed to Sell.</div>
                </div>
                <div class="five wide column">
                    <a href="/items?show=userbids">
                        <button class="circular ui icon teal button massive"
                                style="margin: 2vh">
                            <img src="../images/userbids.png" height="100vmax">
                        </button>
                    </a>
                    <div class="points">View items that you have placed a Bid on.</div>
                </div>
                <div class="five wide column">
                    <a href="/items?show=others">
                        <button class="circular ui icon olive button massive" style="margin: 2vh">
                            <img src="../images/placed_item-dashboard.png" height="100vmax">
                        </button>
                    </a>
                    <div class="points">Buy an Item from the ongoing Bids.</div>
                </div>
                <div class="five wide column">
                    <a href="/items/add">
                        <button class="circular ui icon positive button massive" style="margin: 2vh">
                            <img src="../images/sell-dashboard.png" height="100vmax">
                        </button>
                    </a>
                    <div class="points">Sell your item on Auctionator.</div>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include('components/footer'); %>
</body>
</html>