<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User | Online Auction</title>
    <%- include('components/headers'); %>
    <script src="js/user.js"></script>
    <script src="js/main.js"></script>
    <style>
        .points{
            font-size: 16px;
            color: #9e1317;
        }
        .clr-sml{
            height: 0.5em;
        }
    </style>
</head>
<body>
<%- include('components/navbar'); %>
<div style="margin: 14vmin 0 6vmin 12vmin">


    <div class=" ui grid">
        <div class="ui four wide column segment center aligned" style="margin-bottom: 0">
            <img src="../images/user.png" style="border-radius: 10em;" height="200px;">
            <div class="ui horizontal divider">Your Details</div>
            <div style="font-size: 18px;" class="ui left aligned">
                <div class="clr-sml"></div>
                <div style="font-size: 20px;"><strong ><%= user %></strong></div>
                <div class="clr-sml"></div>
                <div class="clr-sml"></div>
            <div>Username: Username</div><div class="clr-sml"></div>
            <div>Email-Id: Email-id</div><div class="clr-sml"></div>
            <div>Phone Number 1: Number</div><div class="clr-sml"></div>
            <div>Phone Number 2: Number</div><div class="clr-sml"></div>

            </div>
            <div class="clr-sml"></div>
            <div class="clr-sml"></div>
            <a href="">
                <button class="ui right labeled icon button blue big">
                    <i class="right arrow icon"></i>
                    <span style="">Edit Profile</span>
                </button>
            </a>
        </div>
        <div class="eleven wide column center aligned">
            <h1 style="font-size:xx-large">
                Welcome <%= user %> !!!
            </h1>
            <div class="ui compact vertical labeled icon menu grid" style="border: none ; box-shadow: none">
                <div class="four wide column center aligned">
                    <a href="/users/profile">
                        <button class="circular ui icon yellow button massive"
                                style="margin: 2vh">
                            <img src="../images/profile.png" height="100vmax">
                        </button>
                    </a>
                    <span class="points">View Your Profile Page and Edit it.</span>
                </div>
                <div class="four wide column">
                    <a href="/items?show=user">
                        <button class="circular ui icon orange button massive"
                                style="margin: 2vh">
                            <img src="../images/itemplaced.png" height="100vmax">
                        </button>
                    </a>
                    <span class="points">View Items that you have Placed to Sell.</span>
                </div>
                <div class="four wide column">
                    <a href="/items?show=userbids">
                        <button class="circular ui icon teal button massive"
                                style="margin: 2vh">
                            <img src="../images/userbids.png" height="100vmax">
                        </button>
                    </a>
                    <span class="points">View items that you have placed a Bid on.</span>
                </div>
                <div class="four wide column">
                    <a href="/items?show=others">
                        <button class="circular ui icon olive button massive" style="margin: 2vh">
                            <img src="../images/placed_item-dashboard.png" height="100vmax">
                        </button>
                    </a>
                    <span class="points">Buy an Item from the ongoing Bids.</span>
                </div>
                <div class="four wide column">
                    <a href="/items/add">
                        <button class="circular ui icon positive button massive" style="margin: 2vh">
                            <img src="../images/sell-dashboard.png" height="100vmax">
                        </button>
                    </a>
                    <span class="points">Sell your item on Auctionator.</span>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('components/footer'); %>
</body>
</html>